---
import Layout from "../layouts/Layout.astro";
---

<Layout >
  <a
    href=""
    class="hover:bg-color2 hover:text-white hover:border-color2 transition duration-300 ease-in-out font-medium uppercase text-sm tracking-wide shadow border border-neutral-300 text-color2 fixed py-4 px-7 bottom-5 right-5 sm:bottom-8 sm:right-12 bg-white rounded-lg z-10"
    >Let's Talk</a
  >
  <div class="pt-6 px-4 md:px-12 md:pt-12">
    <div class="text-md font-bold uppercase md:text-2xl tracking-widest">
      <a href="index">Juan Miguel Mifflin</a>
    </div>
    <div class="md:flex justify-between uppercase md:pt-1 text-xs md:text-sm">
      <div class="text-neutral-500 tracking-widestmore">
        curiosity, work and design
      </div>
      <div class="flex font-bold gap-6 tracking-widest mt-6 md:mt-0">
        <a
          class="hover:bg-color2 hover:text-white transition duration-100 ease-in-out md:px-2 rounded-md"
          href="#">Resume</a
        >
        <a
          class="hover:bg-color2 hover:text-white transition duration-100 ease-in-out md:px-2 rounded-md"
          href="#">works</a
        >
        <a
          class="flex hover:bg-color2 hover:text-white transition duration-100 ease-in-out md:px-2 rounded-md fill-red-600 hover:fill-red-300"
          href="#"
          ><span>Things That I</span>
          <span class="pl-1 self-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class=""
              width="14px"
              height="14px"
              viewBox="0 0 24 24"
              ><path
                d="M14 20.408c-.492.308-.903.546-1.192.709-.153.086-.308.17-.463.252h-.002a.75.75 0 01-.686 0 16.709 16.709 0 01-.465-.252 31.147 31.147 0 01-4.803-3.34C3.8 15.572 1 12.331 1 8.513 1 5.052 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262A31.146 31.146 0 0114 20.408z"
              ></path></svg
            ></span
          ></a
        >
      </div>
    </div>
  </div>
  <hr class="mt-3 sm:mb-10 md:mx-12" />
  <div class="px-8 md:px-12 pt-12 mb-12">
    <div class="pt-5 pb-10">
      <div class="md:flex md:gap-12 lg:gap-12 justify-between">
        <div class="mb-4 lg:basis-auto md:shrink-0">
          <h2 class="font-black text-2xl md:text-4xl">ADA</h2>
        </div>
        <div class="lg:max-w-3xl">
          <p class="md:text-lg lg:text-xl font-light text-neutral-500">
            ADA serves as the digital gallery for the artistic and design
            creations of furniture by the renowned architect Rafael Freyre. His
            pieces are distinguished by their respect for materials and the
            traditional artisanal processes found in various regions of Peru. <span
              class="font-bold text-neutral-800"
              >The design was intentionally kept simple and clean, ensuring that
              the pieces themselves would be the focal point.</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <img src="images/ada-w-1.jpg" alt="" />

  <div class="text-white bg-neutral-900 pt-14 pb-12 md:py-24">
    <div class="px-8 sm:px-12 lg:px-24">
      <div class="text-xs uppercase tracking-widest mb-20 font-bold">
        About ADA
      </div>
      <div class="flex flex-wrap gap-8 md:gap-12 lg:gap-12 xl:gap-14">
        <div class="w-32 md:w-48">
          <div class="text-6xl font-black">#1</div>
          <h3 class="font-semibold text-xl md:text-2xl">
            ranked in the world by Trustpilot
          </h3>
        </div>
        <div class="w-32 md:w-48">
          <div class="text-6xl font-black">20</div>
          <h3 class="font-semibold text-xl md:text-2xl">
            years of its foundation
          </h3>
        </div>
        <div class="w-32 md:w-48">
          <div class="text-6xl font-black">90+</div>
          <h3 class="font-semibold text-xl md:text-2xl">Employees & Growing</h3>
        </div>
        <div class="w-32 md:w-48">
          <div class="text-6xl font-black">2,5K</div>
          <h3 class="font-semibold text-xl md:text-2xl">
            Happy travelers every year!
          </h3>
        </div>
      </div>
    </div>
    <div class="pt-20 px-12 lg:px-24 max-w-6xl pb-12">
      <img class="rounded-lg" src="images/ada-w-2.jpg" alt="" />
    </div>
    <div class="px-8 sm:px-12 lg:px-24 pt-12 pb-12">
      <img class="rounded-xl" src="images/ada-w-3.jpg" alt="" />
    </div>
    <div class="my-12 px-8 sm:px-12 lg:px-24">
      <img class="rounded-2xl" src="images/ada-w-4.jpg" alt="" />
    </div>
    <div class="my-12 px-8 sm:px-12 lg:px-24">
      <img class="rounded-2xl" src="images/ada-w-5.jpg" alt="" />
    </div>
  </div>

  <div class="px-8 sm:px-24 mb-12">
    <div class="text-xs uppercase tracking-widest mb-20 font-bold pt-20">
      Other Works
    </div>
    <div class="flex gap-12">
      <div class="">
        <a href="pfl"><img class="rounded-lg" src="images/pfl.svg" alt="" /></a>
      </div>
      <div class="">
        <a href="inca"
          ><img class="rounded-lg" src="images/inca.svg" alt="" /></a
        >
      </div>
    </div>
  </div>
</Layout>
