---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <a
    href=""
    class="hover:bg-color2 hover:text-white hover:border-color2 transition duration-300 ease-in-out font-medium uppercase text-sm tracking-wide shadow border border-neutral-300 text-color2 fixed py-4 px-7 bottom-5 right-5 sm:bottom-8 sm:right-12 bg-white rounded-lg z-10"
    >Let's Talk</a
  >
  <div class="pt-6 px-4 md:px-12 md:pt-12">
    <div class="text-md font-bold uppercase md:text-2xl tracking-widest">
      <a href="initial"ß>Juan Miguel Mifflin</a>
    </div>
    <div class="md:flex justify-between uppercase md:pt-1 text-xs md:text-sm">
      <div class="text-neutral-500 tracking-widestmore">
        curiosity, work and design
      </div>
      <div class="flex font-bold gap-6 tracking-widest mt-6 md:mt-0">
        <a
          class="hover:bg-color2 hover:text-white transition duration-100 ease-in-out md:px-2 rounded-md"
          href="#">Resume</a
        >
        <a
          class="hover:bg-color2 hover:text-white transition duration-100 ease-in-out md:px-2 rounded-md"
          href="#">works</a
        >
        <a
          class="flex hover:bg-color2 hover:text-white transition duration-100 ease-in-out md:px-2 rounded-md fill-red-600 hover:fill-red-300"
          href="#"
          ><span>Things That I</span>
          <span class="pl-1 self-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class=""
              width="14px"
              height="14px"
              viewBox="0 0 24 24"
              ><path
                d="M14 20.408c-.492.308-.903.546-1.192.709-.153.086-.308.17-.463.252h-.002a.75.75 0 01-.686 0 16.709 16.709 0 01-.465-.252 31.147 31.147 0 01-4.803-3.34C3.8 15.572 1 12.331 1 8.513 1 5.052 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262A31.146 31.146 0 0114 20.408z"
              ></path></svg
            ></span
          ></a
        >
      </div>
    </div>
  </div>
  <hr class="mt-3 sm:mb-10 md:mx-12" />
  <div class="px-8 md:px-12 pt-12">
    <div class="pt-5 pb-10">
      <div class="md:flex md:gap-12 lg:gap-12 justify-between">
        <div class="mb-4 lg:basis-auto md:shrink-0">
          <h2 class="font-black text-2xl md:text-4xl">Peru For Less</h2>
        </div>
        <div class="lg:max-w-3xl">
          <p class="md:text-lg lg:text-xl font-light text-neutral-500">
            <span class="font-bold text-neutral-800"
              >I lead all design projects, including both digital and physical
              assets for the Peru For Less travel agency.
            </span> Additionally, I handled content management, SEO and web maintenance.
            With over two decades in the market, Peru For Less currently holds the
            top rank globally among travel agencies, recognized by Trustpilot as
            #1 in the world. The agency's exclusive reliance on its digital platform
            is integral to acquiring clients.
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr class="sm:mt-12 mb-20 md:mx-12" />
  <img src="images/pfl-bg-1.webp" alt="" />

  <div class="text-white bg-color2 pt-14 pb-12 md:py-24 mt-20">
    <div class="px-8 sm:px-12 lg:px-24">
      <div class="text-xs uppercase tracking-widest mb-20 font-bold">
        About PFL
      </div>
      <div class="flex flex-wrap gap-8 md:gap-12 lg:gap-12 xl:gap-14">
        <div class="w-32 md:w-48">
          <div class="text-6xl font-black">#1</div>
          <h3 class="font-semibold text-xl md:text-2xl">
            ranked in the world by Trustpilot
          </h3>
        </div>
        <div class="w-32 md:w-48">
          <div class="text-6xl font-black">20</div>
          <h3 class="font-semibold text-xl md:text-2xl">years in operation</h3>
        </div>
        <div class="w-32 md:w-48">
          <div class="text-6xl font-black">90+</div>
          <h3 class="font-semibold text-xl md:text-2xl">
            Employees and Growing
          </h3>
        </div>
        <div class="w-32 md:w-48">
          <div class="text-6xl font-black">3,5K</div>
          <h3 class="font-semibold text-xl md:text-2xl">
            Happy travelers every year!
          </h3>
        </div>
      </div>
      <hr class="my-20 opacity-40" />
      <div class="text-2xl sm:text-4xl font-bold mx-auto max-w-7xl">
        As the head of design at Peru For Less, I lead UX/UI research, website
        optimization, travel package planning, newsletters, market expansion
        projects, and merchandising. My role greatly contributed to the agency's
        global success. I also led efforts such as commitment to social
        responsibility through the Regenera partnership.
      </div>
      <hr class="my-20 opacity-40" />
    </div>
    <img src="images/pfl-bg-1a.webp" alt="" />
    <div class="px-12 lg:px-36 pt-12">
      <!-- <div class="py-6"><img class="rounded-xl" src="images/pfl-bg-4.jpg" alt=""></div> -->
      <div class="py-6">
        <img class="rounded-xl" src="images/pfl-w-18.jpg" alt="" />
      </div>
      <div class="py-6">
        <img class="rounded-xl" src="images/pfl-bg-4.jpg" alt="" />
      </div>
      <div class="py-6">
        <img class="rounded-xl" src="images/pfl-w-20.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="pb-12">
    <div
      class="px-8 sm:px-12 lg:px-24 pt-12 md:pt-24 text-xs uppercase tracking-widest font-bold"
    >
      Website performance improvement
    </div>
    <div class="px-8 sm:px-12 lg:px-24 pt-12 md:pt-24">
      <p class="max-w-xl mb-6">
        <span class="font-bold"
          >I regularly assess the website's performance</span
        > by reviewing data from Google Analytics (GA4), consistently seeking ways
        to optimize conversion rates , retention time, and enhance the visual appeal
        of our pages.
      </p>
      <p class="max-w-xl">
        <span class="text-color2 text-2xl sm:text-4xl block font-bold mb-6"
          >I conducted A/B testing to monitor and improve page performance,
        </span> leading to enhancements in call-to-action (CTA) effectiveness, form
        conversion rates, page structure adjustments, and simplification of website
        elements based on test results.
      </p>
    </div>
    <!-- <div class="px-8 sm:px-12 lg:px-24 pt-12 pb-12"><img  src="images/pfl-w-1.jpg" alt=""> </div> -->
    <!-- <div class="px-8 sm:px-12 lg:px-24"></div> -->
    <div class="px-8 sm:px-12 lg:px-24 pt-12 pb-20">
      <img src="images/pfl-w-2.jpg" alt="" />
    </div>
  </div>

  <div class="bg-neutral-100 pb-12">
    <div
      class="px-8 sm:px-12 lg:px-24 pt-12 md:pt-24 text-xs uppercase tracking-widest font-bold mb-20"
    >
      Customized Package Design System
    </div>

    <div class="md:flex gap-12 px-8 sm:px-12 lg:px-24 mb-10">
      <div class="basis-1/2 grid content-center">
        <div class="pb-12">
          <p class="max-w-xl mb-6">
            <span class="text-color2 text-2xl sm:text-4xl block font-bold mb-6"
              >Communication with clients and creating tailored package
              documents are key processes.
            </span>Previously handled through PDFs with limited design and
            optimization, the process was notably slow and not design appealing.
          </p>
          <p class="max-w-xl">
            I was the responsible behind the development and design of "Playto,"
            a system utilized by our sales team to deliver personalized package
            proposals. <span class="font-bold"
              >This innovative system has effectively doubled sales, accelerated
              travel package proposal delivery,
            </span> and provides valuable data via Playto analytics for enhancing
            our sales processes.
          </p>
        </div>
      </div>
      <!-- <div class="mb-6 md:mb-0 md:grid content-center basis-1/2 overflow-hidden"><img class="rounded-2xl" width="250" src="images/pfl-w-3.jpg" alt=""> </div> -->
    </div>
    <div class="flex flex-col sm:flex-row gap-12 my-6 px-8 sm:px-12 lg:px-24">
      <div class="">
        <img class="rounded-2xl" src="images/pfl-w-4.jpg" alt="" />
      </div>
      <div class="">
        <img class="rounded-2xl" src="images/pfl-w-5.jpg" alt="" />
      </div>
    </div>
    <!-- <div class="my-12 px-8 sm:px-12 lg:px-24"><img class="rounded-2xl" src="images/pfl-w-6.jpg" alt=""></div> -->
    <div class="flex flex-col sm:flex-row gap-12 my-6 px-8 sm:px-12 lg:px-24">
      <div class="">
        <img class="rounded-2xl" src="images/pfl-w-7.jpg" alt="" />
      </div>
      <div class="">
        <img class="rounded-2xl" src="images/pfl-w-8.jpg" alt="" />
      </div>
    </div>
    <!-- <div class="my-12 px-8 sm:px-12 lg:px-24"><img class="rounded-2xl" src="images/pfl-w-9.jpg" alt=""></div> -->
    <div class="my-12 px-8 sm:px-12 lg:px-24">
      <img class="rounded-2xl" src="images/pfl-w-10.jpg" alt="" />
    </div>
    <!-- <div class="flex gap-12 my-6 px-8 sm:px-12 lg:px-24">
        <div class=""><img class="rounded-2xl" src="images/pfl-w-12.jpg" alt=""> </div>
        <div class=""><img class="rounded-2xl" src="images/pfl-w-13.jpg" alt=""> </div>
      </div> -->
    <!-- <div class="my-12 px-8 sm:px-12 lg:px-24"><img class="rounded-2xl" src="images/pfl-w-11.jpg" alt=""></div> -->
  </div>

  <!-- <hr class="my-20 sm:mx-12"> -->

  <div class="pb-12">
    <div
      class="px-8 sm:px-12 lg:px-24 pb-12 md:pb-24 text-xs uppercase tracking-widest font-bold pt-20"
    >
      Newsletters
    </div>

    <div class="md:flex gap-12 px-8 sm:px-12 lg:px-24 mb-10">
      <div
        class="mb-6 md:mb-0 md:grid content-center basis-1/2 overflow-hidden"
      >
        <img class="rounded-2xl" src="images/pfl-w-14.jpg" alt="" />
      </div>

      <div class="basis-1/2 grid content-center">
        <div class="pt-12 md:pt-24 pb-12 md:pb-24">
          <p class="max-w-xl mb-6">
            <span class="text-color2 text-2xl sm:text-4xl block font-bold mb-6"
              >I oversee our newsletters, managing a database of approximately
              45,000 individuals,
            </span>
          </p>
          <p class="max-w-xl">
            It’s a pivotal communication channel for us. Here, we actively
            employ A/B testing to enhance the effectiveness of our deliveries. <span
              class="font-bold"
            >
              This strategic approach has successfully led to a x2 increase in
              conversions</span
            > through this medium in under a year.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-neutral-100 pb-12">
    <div
      class="px-8 sm:px-12 lg:px-24 pt-12 md:pt-24 text-xs uppercase tracking-widest font-bold"
    >
      Merchandising
    </div>
    <div class="px-8 sm:px-12 lg:px-24 pt-12 md:pt-24">
      <p class="max-w-xl">
        I lead the design and execution of our <span class="font-bold"
          >merchandising line,</span
        > encompassing items like books, reusable bottles, bags, destination maps,
        cards, and folders.
      </p>
    </div>

    <div class="flex flex-col sm:flex-row gap-12 my-6 px-8 sm:px-12 lg:px-24">
      <div class="">
        <img class="rounded-2xl" src="images/pfl-w-15.jpg" alt="" />
      </div>
      <div class="">
        <img class="rounded-2xl" src="images/pfl-w-16.jpg" alt="" />
      </div>
    </div>
    <!-- <div class="px-8 sm:px-12 lg:px-40 pt-12 pb-20"><img class="rounded-2xl" src="images/pfl-w-17.jpg" alt=""> </div> -->
  </div>

  <div class="px-8 sm:px-24 mb-12">
    <div class="text-xs uppercase tracking-widest mb-20 font-bold pt-20">
      Other Works
    </div>
    <div class="flex gap-12">
      <div class="">
        <a href="inca"
          ><img class="rounded-lg" src="images/inca.svg" alt="" /></a
        >
      </div>
      <div class="">
        <a href="ada"><img class="rounded-lg" src="images/ada.svg" alt="" /></a>
      </div>
    </div>
  </div>
  <hr class="my-20 sm:mx-12">
</Layout>
